---
layout: main
title: Barnardo's online platforms and standards
desc: The principles guiding the development of our online platforms
pageTitle: Online platforms & standards
pageTaxonomy: home
eleventyNavigation:
  key: Home
---

<div class="text">
	<p>An <dfn>online platform</dfn> is a set of shared components, tools, functions, services and documentation available for use across the organisation.<p>

	<h2>Our principles</h2>

	<p>Use these principles when building our digital products to reduce ambiguity, remove conflict and confusion, improve measuring, make better decisions, help you say 'no', reassure the cautious, and educate colleagues and stakeholders.</p>

	<ul role="list">
		<li>
			<h3>Prioritise our users over everything else</h3>
			<p>Some of the most vulnerable people in the UK use Barnardo's websites, often in stressful situations. Do not sacrifice simplicity in their experience for the sake of our own convenience.</p>
		</li>
		<li>
			<h3>Provide the broadest access</h3>
			<p>An internet connection should be enough to access Barnardo's online. Do not exclude people based on ability, technology, network quality, geographical location, or personal circumstances.</p>
		</li>
		<li>
			<h3>Consider user journeys from start to finish</h3>
			<p>User experience is how people feel about the prospect of using a product, how they feel while using it, and how they feel about it when they've finished. Design for the whole journey.</p>
		</li>
		<li>
			<h3>Always test with real users</h3>
			<p>User interface design is where intuition goes to die. Validate ideas with real users and Barnardo's subject matter experts.</p>
		</li>
		<li>
			<h3>Iterate to improve</h3>
			<p>Good online platforms are an aggregation of marginal gains, over time. What worked yesterday may not work tomorrow. Experimenting, prototyping, and refining are creative endeavours.</p>
		</li>
		<li>
			<h3>Make our brand shine through</h3>
			<p>Our brand is a powerful tool in our ambition to deliver on our ten-year strategy. It allows us to reach more of those who need us and want to support us, and reinforces trust in us.</p>
		</li>
		<li>
			<h3>Work in the open</h3>
			<p>Educate, collaborate, share, and learn with external communities for the betterment of society. </p>
		</li>
	</ul>
</div>

<h2>Our platforms</h2>

<div class="cards-grid">
	{% set platformsList = collections.platform %}
	{% for platform in platformsList %}
		<div class="card">
			<h3 class="card-title card-title--{{ platform.data.themeModifier }}"><a href="/{{ platform.data.permalink }}">{{ platform.data.shortTitle }}</a></h3>
			<p class="card-summary">{{ platform.data.extract }}</p>
		</div>
	{% endfor %}
</div>
