---
layout: main
title: Our fundraising platform | Barnardo's
desc: How we are raising money to help more children, young people, parents and carers
pageTitle: Our fundraising platform
shortTitle: Fundraising
pageTaxonomy: platform
permalink: fundraising/
tags: platform
themeModifier: fundraising
extract: How we raise more money to help more people.
order: 2
eleventyNavigation:
  key: Fundraising
  parent: Home
---

<div class="text">
	<p>Nothing here yet.</p>
</div>

<div class="cards-grid">
	{% set fundraisingList = collections.fundraising %}
	{% for fundraising in fundraisingList %}
		<div class="card">
			<h2 class="card-title card-title--{{ fundraising.data.themeModifier }}"><a href="/{{ fundraising.data.permalink }}">{{ fundraising.data.pageTitle }}</a></h2>
			<p class="card-summary">{{ fundraising.data.extract }}</p>
		</div>
	{% endfor %}
</div>


