<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{ desc }}">
    {% include 'components/css.njk' %}
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <meta name="generator" content="Eleventy">
    <meta name="msvalidate.01" content="41318D6617BBDA04E10B555658824348">
  </head>

  <body>
    <header class="layout">
      <a href="/" class="logo">{% include 'html/logo.html' %}</a>
    </header>

    <h1 class="hero {% if themeModifier %}hero--{{ themeModifier }}{% endif %}"><span class="layout">{{ pageTitle }}</span></h1>

    <div class="layout">

      {% include 'components/breadcrumb.njk' %}

      <main>

        {{ content | safe }}

      </main>

    </div>

    <div class="layout">
      <aside>
        {% changelog filePath=page.inputPath %}
      </aside>
    </div>

    <footer>
      <small>© Barnardo’s</small>
    </footer>
  </body>
</html>
