{% if pageTaxonomy != 'home' %}
	<nav class="layout">
		{% set crumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %}
		<ol class="breadcrumb">
			{% for crumb in crumbs %}
				<li>
					<a class="crumb" href="{{ crumb.url | url }}" {% if crumb.url == page.url %}aria-current="page"{% endif %}>{{ crumb.title }}</a>
				</li>
			{% endfor %}
		</ol>
	</nav>
{% endif %}

