{% set childPages = collections.all | eleventyNavigation(eleventyNavigation.key) %}
{% if childPages.length > 0 %}
  <nav>
    <div class="cards-grid">
      {% for childPage in childPages %}
        <div class="card">
          <h3 class="card-title card-title--{{ themeModifier }}"><a href="{{ childPage.url | url }}">{{ childPage.title }}</a></h3>
          <p class="card-summary">{{ extract }}</p>
        </div>
      {% endfor %}
    </div>
  </nav>
{% endif %}