.toc {
	background: var(--grey-light);
	border: 1px solid var(--grey-medium);
	padding: 16px;
}

.toc h2 {
	font-size: var(--step-1);
	margin-block-end: 1rem;
}

.toc ol {
	counter-reset: item;
}

.toc li {
	margin-block-end: 0;
	padding-inline-start: 16px;
}

.toc li::before {
	content: counters(item, ".") " ";
	counter-increment: item;
}

.toc a {
	display: inline-block;
	padding-block: 10px;
}
